textarea, mat-form-field {
  width: 100%;
  margin: auto;
}

/* main {
  margin-top: 1rem;
} */

.center-obj, app-post-list {
  padding-top: 10px;
  margin: auto !important;
  text-align: center;
}

mat-card {
  width: 80%;
  margin: auto;
  position: relative;
  top: 100px;
}

mat-spinner {
  text-align: center;
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}
.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
