<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="create-style">
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <main>
        <p style="margin-left: 14px;font-size: 20px;">New Post</p>
        <div class="container mb-4">
          <mat-form-field>
            <mat-label>Post Title</mat-label>
            <input matInput
                  title="title"
                  formControlName="title"
                  type="text">
            <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
          </mat-form-field>
          <div>
            <button type="button"
                  mat-stroked-button
                  (click)="filePicker.click()">Upload Image</button>
            <input title="input"
                  type="file"
                  #filePicker
                  (change)="onImagePicked($event)">
          </div>
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview !== null">
            <img title="img" [src]="imagePreview" [alt]="form.value.title" />
          </div>
          <br />
          <mat-form-field>
            <mat-label>Post Content</mat-label>
            <textarea title="textarea"
                  rows="4"
                  width="50%"
                  formControlName="content"
                  matInput
                  name="content"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter content</mat-error>
          </mat-form-field>

          <button type="submit"
                  mat-raised-button
                  color="accent"
                  class="btn btn-sm">Save Post</button>

        </div>

        <!-- <div class="center-obj">
    <app-post-list [posts]="storedPosts"></app-post-list>
  </div> -->

      </main>
    </form>
  </div>

</mat-card>



