<mat-card >
  <div class="create-style">
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
      <main>
      <p style="margin-left: 14px;font-size: 20px;">New Post</p>
    <div class="container mb-4">
      <mat-form-field>
        <mat-label>Post Title</mat-label>
        <input
          matInput
          title="title"
          name="title"
          type="text"
          [ngModel]="post?.title"
          required
          #title="ngModel"
          minlength="3"
        >
        <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Post Content</mat-label>
        <textarea
          title="textarea"
          rows="4"
          width="50%"
          matInput
          name="content"
          [ngModel]="post?.content"
          #content="ngModel"
          required
        ></textarea>
        <mat-error *ngIf="content.invalid">Please enter content</mat-error>
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        color="accent"
        class="btn btn-sm"

      >Save Post</button>

    </div>

  <!-- <div class="center-obj">
    <app-post-list [posts]="storedPosts"></app-post-list>
  </div> -->

  </main>
  </form>
</div>

</mat-card>



